<nav class="navbar-container">
  <div class="navbar-buttons">
    <button (click)="irA('pacientes')">
      <span class="btn-icon">👥</span> Pacientes
    </button>
    <button (click)="irA('consultas')">
      <span class="btn-icon">📋</span> Consultas
    </button>
    <button (click)="irA('citas')">
      <span class="btn-icon">📅</span> Citas
    </button>
    <!-- <button (click)="irA('historial')"> <span class="btn-icon">🏥</span> Historial
    </button>
    <button (click)="irA('tratamientos')">
      <span class="btn-icon">💊</span> Tratamientos
    </button>
    <button (click)="irA('examenes')">
      <span class="btn-icon">🔬</span> Exámenes
    </button>
    <button (click)="irA('categorias')">
      <span class="btn-icon">🏷️</span> Categorías
    </button>
    <button (click)="irA('enfermedades')">
      <span class="btn-icon">🦠</span> Enfermedades
    </button>
        <button (click)="irA('antecedentes')">
      <span class="btn-icon">⛑️</span>Antecedentes
    </button> -->
    </div>

  <div class="navbar-doctor-info">
    <div>Doctor Alejandro Caballero</div>
    <small>Médico Internista</small>
  </div>
</nav>