<div class="container">
        <!-- Header -->
        <div class="header">
            <h1 class="title">Gestión de Pacientes</h1>
            <div class="actions">
                <button class="btn btn-primary" (click)="irANuevoPaciente()">
                    <span class="icon-user-plus"></span>
                    Agregar Paciente
                </button>
                <button class="btn btn-info">
                    <span class="icon-search"></span>
                    Buscar
                </button>
            </div>
        </div>

        <!-- Tabla -->
        <div class="table-container">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th>ID</th>
                        <th>Paciente</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Teléfono</th>
                        <th>Última consulta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>